// vim: sw=2

body {
  background-color: #eee;
  background-image: url(/images/keyboard.png);
  background-size: 30%;
  background-repeat: no-repeat;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  font-size: 14pt;
  width: 800px;
  margin: 30px auto;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

#header {
  position: absolute;
  top: 80px;
  left: 450px;
}

#header #title {
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
}

#header a {
  display: inline-block;
  margin-left: 50px;
  font-size: 20pt;
}
#header a, h1 a {
  text-decoration: none;
}
#header a:hover, h1 a:hover {
  text-decoration: underline;
}

h1 a.wikipedia:after {
  content: '';
  padding-right: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-image: url(/images/wikipedia.svg);
  opacity: 0.2;
}
h1 a.wikipedia:hover:after {
  opacity: 1.0;
}

#rating {
  margin-left: 10%;
  margin-bottom: 20px;
}

#rating td {
  text-align: center;
}

#rating .title {
  padding-left: 25px;
  padding-right: 25px;
}

#rating .code {
  font-size: 50pt;
  padding-left: 15px;
  padding-right: 15px;
}

#rating .grade {
  max-width: 130px;
}

table {
  border-collapse: separate;
  border: 2px solid #333;
  border-radius: 15px;
  -moz-border-radius: 15px;
  border-spacing: 0px;
}

td, th {
  padding: 10px;
  border-left: 2px solid #333;
  border-top: 2px solid #333;
  text-align: center;
}

tr:first-child td, tr:first-child th {
  border-top: none;
}

td:first-child, th:first-child {
  border-left: none;
}

.os-icon {
  padding-left: 25px;
  background-size: contain;
  background-repeat: no-repeat;
}

li {
  margin-top: 3px;
}
