// vim: sw=2

body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 14pt;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

#container {
  width: 800px;
  margin: 30px auto;
}

@media screen and (max-width: 1000px) {
  body { font-size: 12pt; }
  #container { width: 600px; }
}

@media screen and (max-width: 800px) {
  body { font-size: 10pt; }
  #container { width: 400px; }
}

@media screen and (max-width: 500px) {
  body { font-size: 9pt; }
  #container { width: 95%; }
}


#header {
  display: flex;
  align-items: center;
}
#header img {
  width: 20vw;
  height: auto;
}

#header #hdbar {
  display: inline-block;
}

#header #hdtitle {
  display: inline-block;
  font-size: 214%;
  font-weight: bold;
  margin-left: 0.2em;
}
#header #hdlinks {
  display: inline-block;
}
#header #hdlinks a {
  display: inline-block;
  margin-left: 1.8em;
  font-size: 142%;
}
#header a, h1 a {
  text-decoration: none;
}
#header a:hover, h1 a:hover {
  text-decoration: underline;
}

h1 a.wikipedia:after {
  content: '';
  padding-right: 1.7em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-image: url(/images/wikipedia.svg);
  opacity: 0.2;
}
h1 a.wikipedia:hover:after {
  opacity: 1.0;
}

#rating {
  margin-left: 10%;
  margin-bottom: 1em;
}

#rating td {
  text-align: center;
}

#rating .title {
  padding-left: 1.2em;
  padding-right: 1.2em;
}

#rating .code {
  font-size: 357%;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

#rating .grade {
  max-width: 7em;
}

table {
  border-collapse: separate;
  border: 2px solid #333;
  border-radius: 15px;
  -moz-border-radius: 15px;
  border-spacing: 0px;
}

td, th {
  padding: 10px;
  border-left: 2px solid #333;
  border-top: 2px solid #333;
  text-align: center;
}

tr:first-child td, tr:first-child th {
  border-top: none;
}

td:first-child, th:first-child {
  border-left: none;
}

.os-icon {
  padding-left: 1.55em;
  background-size: contain;
  background-repeat: no-repeat;
}

li {
  margin-top: 3px;
}
