// vim: sw=2

body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 18px;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

#container {
  width: 800px;
  margin: 30px auto;
}

#header {
  background-image: url(/images/keyboard.png);
  background-repeat: no-repeat;
  background-size: 20vw 11.25vw;
  padding-left: 20vw;
  min-height: 11.25vw;
}

#header #hdbar {
  padding-top: 2.5vw;
}

#header #hdtitle {
  display: inline-block;
  font-size: 150%;
  font-weight: bold;
  margin-left: 0.2em;
}
#header #hdlinks {
  display: inline-block;
}
#header #hdlinks a {
  display: inline-block;
  margin-left: 1.8em;
  font-size: 130%;
}
#header a, h1 a {
  text-decoration: none;
}
#header a:hover, h1 a:hover {
  text-decoration: underline;
}

h1 a.wikipedia:after {
  content: '';
  padding-right: 1.7em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-image: url(/images/wikipedia.svg);
  opacity: 0.2;
}
h1 a.wikipedia:hover:after {
  opacity: 1.0;
}

#rating {
  margin-left: 10%;
  margin-bottom: 1em;
}

#rating td {
  text-align: center;
}

#rating .title {
  padding-left: 1.2em;
  padding-right: 1.2em;
}

#rating .code {
  font-size: 357%;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

#rating .grade {
  max-width: 7em;
}

table {
  border-collapse: separate;
  border: 2px solid #333;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  border-spacing: 0px;
}

td, th {
  padding: 0.6em;
  border-left: 2px solid #333;
  border-top: 2px solid #333;
  text-align: center;
}

tr:first-child td, tr:first-child th {
  border-top: none;
}

td:first-child, th:first-child {
  border-left: none;
}

.os-icon {
  padding-left: 1.55em;
  background-size: contain;
  background-repeat: no-repeat;
}

li {
  margin-top: 3px;
}

td.nowrap {
  white-space: nowrap;
}

h1 { font-size: 170%; }
h2 { font-size: 140%; }

// Large size: scale the headers
@media screen and (min-width: 900px) {
  #header #hdtitle { font-size: 3.35vw; }
  #header #hdlinks a { font-size: 2.22vw; }
}

// Extra large size: stop scaling the headers, center them
@media screen and (min-width: 1500px) {
  #header #hdtitle { font-size: 50.25px; }
  #header #hdlinks a { font-size: 33.3px; }
  #header #hdbar { padding-top: 37.5px; }
  #header {
    background-size: 300px 168.75px;
    padding-left: 300px;
    height: 168.75px;
    width: 1200px;
    margin: auto;
    min-height: 0px;
  }
}

// Mobile size: less font scaling
@media screen and (max-width: 550px) {
  body { font-size: 16px; }
  #header #hdtitle { font-size: 150%; }
  #header #hdlinks a { font-size: 130%; }
  h1 { font-size: 140%; }
  h2 { font-size: 120%; }
}

@media screen and (max-width: 840px) {
  #container { width: 95%; }
}
